<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NUU 自動耕作系統</title>
	<link rel="stylesheet" type="text/css" href="./static/myCSS.css">
	<!-- <script type="text/javascript" src="/static/myJS.js"></script> -->
	<script type="text/javascript" src="/static/Monster.js"></script>
	<script language=javascript>
		var _status = new Boolean(false);
		var monster = new Monster('bug');
		var robot1 = new Monster('Robot1');
		var autoControlStart = new Boolean(false);
		var autoControlTime = 10;
		var keyPoint = [];

        $(document).ready(function (){
			if(isMobile()){
				console.log('This is Mobile')
			}else{
				console.log('This is PC or else')
			}
			autoControlStart = false;
			getSerialList();
			monster.HP_id = 'bugLife';
			monster.reBorn()
			addText('#exeState', '[在農場發現一隻野生的' + monster.name + ']\n');

			robot1.LV = 2;
			robot1.reBorn();
			robot1.setPosition(0,0);
			robot1.hide();
			keyPoint = organizeDrivePath([{{int(farm_size[0])}}, {{int(farm_size[1])}}]);
        });

		function isMobile() {
			try{ document.createEvent("TouchEvent"); return true; }
			catch(e){ return false;}
		}

		function addSelectOption(list, text, value){
			var index = document.getElementById(list).length
			document.getElementById(list).options[index] = new Option(text, value);
		}
		function getSerialList(){
		    var _xmlhttp;
		    _xmlhttp = new XMLHttpRequest();
		    _xmlhttp.onreadystatechange = function(){
		        if (_xmlhttp.readyState==4 && _xmlhttp.status==200){
		        	var _HTML = _xmlhttp.responseText;
		        	_HTML = _HTML.split(',');
		        	for(var i=0; i<_HTML.length; i++){
		        		if(_HTML[i]!=''){
		        			addSelectOption('serialList', _HTML[i], i);
		        			console.log(_HTML[i]);
		        		}
		        	}
		        }
		    }
		    _xmlhttp.open("GET","/serialconnect?cmd=getList", true);
		    _xmlhttp.send();
		}
		function connectSerial(list){
			reBorn();
			var _cmd = 'connectUART'
			if( document.getElementById('connectSerialBtn').value == '中斷序列埠' ){
				_cmd = 'disConnectUART'
			}
			var textTemp = document.getElementById('exeState').innerHTML;
			var index = document.getElementById(list).selectedIndex
		    var _xmlhttp;
		    _xmlhttp = new XMLHttpRequest();
		    _xmlhttp.onreadystatechange = function(){
		        if (_xmlhttp.readyState==4 && _xmlhttp.status==200){
		        	var _HTML = _xmlhttp.responseText;
		        	if(_HTML=='OK'){
		        		if( _cmd == 'connectUART' ){
							addText("#exeState", "序列埠連接完成\n");
							document.getElementById('connectSerialBtn').value = '中斷序列埠';
			        		document.getElementById('serialList').style = 'pointer-events:none;color:#BBB;';
		        		}else{
							addText("#exeState", "序列埠中斷完成\n");
							document.getElementById('connectSerialBtn').value = '連接序列埠';
			        		document.getElementById('serialList').style = 'color:#000;';
		        		}
		        	}else{
						addText("#exeState", '序列埠連接失敗\n');
		        	}
		        }
		    }
		    _xmlhttp.open("GET","/index?cmd=" + _cmd + "&serialIndex="+index, true);
		    _xmlhttp.send();
		}

		function btnClick(CMD){
			reBorn();
			var _info = CMD.split('*');
			_info[0] = _info[0].replace('@', '');
 			addText("#exeState", '傳送至位址:&ensp;' + _info[0] + ', 傳送指令:&ensp;' + _info[1] + ',&ensp;執行中\n');
			sendCMD(CMD);
		}
		function sendCMD(CMD){
			console.log('SendCMD')
		    var _xmlhttp;
		    _xmlhttp = new XMLHttpRequest();
		    _xmlhttp.onreadystatechange = function(){
		        if (_xmlhttp.readyState==4 && _xmlhttp.status==200){
		        	var _HTML = _xmlhttp.responseText;
					console.log(_HTML)
					_HTML = _HTML.split(' ');
					if( _HTML.length==1 ){
						_HTML[1] = _HTML[0];
					}
					console.log(_HTML[0])
		        	if( _HTML[0]=='OK' ){
						addText("#exeState", "回傳資料: " + _HTML[1]);
						_HTML[1] = _HTML[1].replace('\r\n', '');
						_HTML[1] = parseFloat(_HTML[1]);
						_HTML[1] = _HTML[1].toFixed(1);
						_CMD = CMD.split('*');
						switch(_CMD[1]) {
						     case 'Temp':
						        console.log('溫度為: ' + _HTML[1]);
						        document.getElementById('Temp').innerHTML = _HTML[1] + '&deg;C';
						        break;
						     case 'Hum':
						        console.log('濕度為: ' + _HTML[1]);
						        document.getElementById('Hum').innerHTML = _HTML[1] + '%';
						        break;
						     case 'CheckWaterLevel':
						        console.log('儲水量: ' + _HTML[1]);
						        if( _HTML[1]>=10 ){
									document.getElementById('waterTankInfo').innerHTML = '充足';
									document.getElementById('waterTank').style.backgroundImage = 'url("./static/waterTank.png")';
						        }else{
									document.getElementById('waterTankInfo').innerHTML = '不足';
									document.getElementById('waterTank').style.backgroundImage = 'url("./static/waterTank_nowater.png")';
						        }
						        break;
						     case 'SoilHum1':
						        console.log('土壤1濕度為: ' + _HTML[1]);
						        document.getElementById('plant0').innerHTML = _HTML[1];
						        break;
						     case 'SoilHum2':
						        console.log('土壤2濕度為: ' + _HTML[1]);
						        document.getElementById('plant1').innerHTML = _HTML[1];
						        break;
						     case 'SoilHum3':
						        console.log('土壤3濕度為: ' + _HTML[1]);
						        document.getElementById('plant2').innerHTML = _HTML[1];
						        break;
						     case 'SoilHum4':
						        console.log('土壤4濕度為: ' + _HTML[1]);
						        document.getElementById('plant3').innerHTML = _HTML[1];
						        break;
						     default:
						        console.log('其他');
						}
						return true;
		        	}else if( _HTML[0]=='ERR' ){
						addText("#exeState", "執行錯誤: " + _HTML[1] + '\n');
						return false;
		        	}else{
						addText("#exeState", "未知錯誤" + '\n');
						return false;
		        	}
		        }
		    }
		    _xmlhttp.open("GET","/index?cmd=" + CMD, true);
		    _xmlhttp.send();
		}
		function showCMD(cmd){
			_cmd = cmd.split('*');
			_cmd[0] = _cmd[0].replace('@', '');
			document.getElementById('addrAndCMD').innerHTML = '位址: ' + _cmd[0] + ', 指令: ' + _cmd[1];
		}
		function hideCMD(){
			document.getElementById('addrAndCMD').innerHTML = '&nbsp;';
		}

		function addText(textAreaID, string){
			var textarea = $(textAreaID).append(string);
			textarea.scrollTop(textarea[0].scrollHeight);
		}

		function hitBug(){
			monster.hit(1);	
			if( monster.HP<=0 ){
				addText("#exeState", "[" + monster.name + "負傷逃跑了]\n");
			}else{
				addText("#exeState", "[你打了" + monster.name + "一下]\n");
			}
		}
		function reBorn(){
			monster.reBorn();
			// addText('#exeState', '[在農場發現一隻野生的' + monster.name + ']\n');
		}

		function autoControlBtn(){
			if(autoControlStart){
				autoControlStart = false;
				robot1.reBorn();
				robot1.setPosition(0,0);
				robot1.hide();
				pointInd = 0;
				document.getElementById('autoControlInfo').innerHTML = '(尚未執行)';
				document.getElementById('autoControl').style.color = '#00F';
				document.getElementById('autoControl').style.border = '5px solid #00F';
				document.getElementById('autoControl').style.borderStyle = 'outset';		
				document.getElementById('autoControl').style.backgroundColor = '#FFF';
			}else{
				autoControlStart = true;
				robot1.setPic("./static/Robot_GIF/Animation/RobotShow/RobotShow_T.gif");
				robot1.show();
				document.getElementById('autoControlInfo').innerHTML = '自動監控執行中...';
				document.getElementById('autoControl').innerHTML = '自動監控中';
				document.getElementById('autoControl').style.color = '#F00';
				document.getElementById('autoControl').style.border = '5px solid #F00';
				document.getElementById('autoControl').style.borderStyle = 'inset';
				autoControl();
			}
		}
		var timeCounter = 0;
		var timeCounterForFlash = 0;
		var plantPoint = [[0,0]];
		var pointInd = 0;
		var formSize = [{{int(farm_size[0])}}, {{int(farm_size[1])}}];
		var updateTime = 66;
		var delayTime = 0;
		var autoControlFlash = new Boolean(false);
		var startDelay = new Boolean(false);
		startDelay = false;
		autoControlFlash = false;
		function autoControl(){
			if( autoControlStart==true ){

				if( keyPoint[pointInd][0]=='W' ){
					if( !startDelay ){
						delayTime = Math.round(keyPoint[pointInd][1] / updateTime);
						if( pointInd==0 ){
							robot1.setPic("./static/Robot_GIF/Animation/RobotShow/RobotShow_T.gif");
						}
						startDelay = true;
					}else{
						if( delayTime>0 ){
							delayTime -= 1;
						}else{
							pointInd += 1;
							startDelay = false;
						}
					}
				}else{
					if( robot1.goto(keyPoint[pointInd]) ){
						pointInd += 1;
					}
				}
				if( pointInd>=keyPoint.length ){
					pointInd = 1;
				}
				if( pointInd>0 && keyPoint[pointInd][0]!='W' ){
					if( keyPoint[pointInd][0]>=keyPoint[pointInd-1][0] ){
						robot1.setPic("./static/Robot_GIF/Robot2_right_trans.gif");
					}else{
						robot1.setPic("./static/Robot_GIF/Robot2_left_trans.gif");
					}
				}

				if( timeCounter>=(60*1000/updateTime) ){
					_stepX = Math.floor(Math.random()*5)+1;
					_stepY = Math.floor(Math.random()*5)+1;
					timeCounter = 0;
					monster.setPositionRandom();
					sendCMD('@2*CheckWaterLevel');
					sendCMD('@2*Temp');
					sendCMD('@2*Hum');
					sendCMD('@3*SoilHum1');
					sendCMD('@3*SoilHum2');
					sendCMD('@3*SoilHum3');
					sendCMD('@3*SoilHum4');
					isWater();
				}

				if( timeCounterForFlash>=(0.5*1000/updateTime) ){
					timeCounterForFlash = 0;
					if( autoControlFlash){
						autoControlFlash = false;
						document.getElementById('autoControl').style.color = '#F00';
						document.getElementById('autoControl').style.backgroundColor = '#FFF';
					}else{
						autoControlFlash = true;
						document.getElementById('autoControl').style.color = '#FFF';
						document.getElementById('autoControl').style.backgroundColor = '#FFC901';
					}
				}

				timeCounter += 1;
				timeCounterForFlash += 1;
				setTimeout(function(){
					autoControl();
				},updateTime);
			}
		}
		function isWater(){
			for(var i=0; i<4; i++){
				if( (document.getElementById('plant'+i).innerHTML)<40 ){
					sendCMD('@1*GotoP' + (i + 1));
					sendCMD('@2*Water');
				}
			}
		}

		function hitRobot(){
			addText("#exeState", "[請不要攻擊自動監控機器人]\n");
		}
		function organizeDrivePath(farmSize){
			var _keyPoint = [['W', 1650], [0,0]];
			for( var fY=0; fY<farmSize[1]; fY++ ){
				for( var fX=0; fX<farmSize[0]; fX++ ){
					_keyPoint.push([(fX*170)-10, (fY*185)+100]);
					_keyPoint.push([(fX*170)-10, (fY*185)]);
					_keyPoint.push(['W', 1000]);
					_keyPoint.push([(fX*170)-10, (fY*185)+100]);
				}
				if( (fY+1)<formSize[1] ){
					_keyPoint.push([((fX-1)*170)-10, ((fY+1)*185)+100]);
				}else{
					_keyPoint.push([-10, (fY*185)+100]);
				}
			}
			// _keyPoint.push(['W', 3000]);
			return _keyPoint;
		}

	</script>
</head>
<body class="mainCSS">
<center>
	<div style="width:auto">
		<div class='titleCSS'>國立聯合大學<br>苗栗地區科技農業就業學程-自動耕作系統</div>
		<div style="display:inline-block;width:200px;vertical-align:top;margin-right:10px;">
			<div class="toolBox">
				<div style="border-radius:8px 8px 0px 0px;font-size:22px;
							text-align:center;
							background-color:#C8FFC8;
							font-weight:bolder;
							height:40px;">工具箱</div>
				<div id="addrAndCMD" style="background-color:#C8FFC8;font-size:14px;text-align:center;color:#F00">&nbsp;</div>
				{% for CMD in CMDset.keys() %}
				<div style="text-align:left;">&#10148{{CMD}}</div>
					{% for CMD_value in CMDset[CMD] %}
						<div onclick="btnClick('@{{CMD_value[0][1]}}*{{CMD_value[0][2]}}')" 
							 onmousemove="showCMD('@{{CMD_value[0][1]}}*{{CMD_value[0][2]}}')"
							 onmouseleave="hideCMD('@{{CMD_value[0][1]}}*{{CMD_value[0][2]}}')" 
							 class="settingBtn">
							 {{CMD_value[0][0]}}
						</div>
					{% end %}
				{% end %}
			</div>
		</div>
		<div style="display:inline-block;width:auto;vertical-align:top;">
			<div class="workSpace" style="text-align:center;vertical-align:middle;width:auto;">
				<select id='serialList' class="selectCSS"></select>
				<input id='connectSerialBtn' class='serialBtn' type="button" value="連接序列埠" onclick="connectSerial('serialList')">
			</div>

			<div class="workSpace" style="width:auto;"><center>
				<div style="display:inline-block;width:140px;vertical-align:top;">
					<div id='autoControl' class="autoControl" onclick="autoControlBtn()">全自動監控</div>
					<div id='autoControlInfo' style="color:#F00;font-size:15px;">(尚未執行)</div>
					<div style="height:20px;"></div>
					<div style="text-align:left;margin:10px 5px;">
						<div style="display:table-cell;"><img src="./static/temp.png" style="width:50px"></div>
						<div style="display:table-cell;color:#F00;font-size:30px;vertical-align:middle;" id='Temp'>30.5&deg;C</div>
					</div>
					<div style="text-align:left;;margin:10px 5px;">
						<div style="display:table-cell;"><img src="./static/hum.png" style="width:50px"></div>
						<div style="display:table-cell;color:#00F;font-size:30px;vertical-align:middle;" id='Hum'>60%</div>
					</div>
				</div>

 				<div style="display:inline-block;text-align:center;width:auto;vertical-align:top;">
					<div class="relative">
					<div id='bug' class="caterpillar" onclick="hitBug()"></div>
					<div id='bugLife' class="bugLife"></div>
					<div id='Robot1' class="caterpillar" onclick="hitRobot()"></div>
					<div class="gardan" style="white-space:nowrap;">	
						{% for row in range(0, int(farm_size[1])) %}
							{% for col in range(0, int(farm_size[0])) %}
									<div style="display:inline-block;margin:15px 30px;">
									<div class="plant" ><img src="./static/plant.png" style="width:70px;height:70px"></div>
									<div class='plantInfo'>{{ plant[(row*int(farm_size[0]))+col][0] }}<br>
										濕度:&nbsp;<span id='plant{{(row*int(farm_size[0]))+col}}'>50</span>%</div>
									</div>
							{% end %}
							<div style="height:25px;width:400px;border:0px solid #000;"></div>
						{% end %}
					</div>		
					</div>
				</div>

				<div style="display:inline-block;width:140px;vertical-align:bottom;"><center>
					<div id='waterTank' class='waterTank'></div>
					<div class='waterTankInfo'>儲水量: <span id='waterTankInfo'>充足</span></div>
				</center></div> 
			</center></div>
			<div class="workSpace">
			<textarea id="exeState" class='debugInfo'></textarea>
			</div>
		</div>
	</div>
</center>

</body>
</html>
